#contenedorTabla {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajusta según sea necesario para centrar verticalmente */
    margin-top: 20%; /* Ajusta según la altura de tu header */
    margin-bottom: 20%;
    position: relative;
}

#tablaJugadores {
    display: flex;
    justify-content: center;
    align-items: center;
    border-collapse: collapse;
    width: 100%;
    margin: 0px;
}

#tablaJugadores th, #tablaJugadores td {
    padding: 13px;
    text-align: center;
}

#tablaJugadores th {
    background-color: #333;
    color: white;
}

#tablaCabecera {
    position: absolute;
    top: -40%;
    left: 10%;
    z-index: 150;
    background-color: #333; /* Ajusta el color de fondo según sea necesario */
    color: white;
    width: 80%; /* Igualar al ancho de #tablaJugadores */
    margin: 0px auto; /* Centrar horizontalmente */
}

#tablaCabecera th.nombre {
    width: 2%; /* Ajusta según sea necesario */
}

#tablaCabecera th.dorsal {
    width: 1%; /* Ajusta según sea necesario */
}

#tablaCabecera th.temp {
    width: 1%; /* Ajusta según sea necesario */
}

#tablaCabecera th.altura {
    width: 1%; /* Ajusta según sea necesario */
}

#tablaCabecera th.peso {
    width: 1%; /* Ajusta según sea necesario */
}
