

.estadisticas-table {
    width: 80%; /* Ancho de la tabla, ajusta según sea necesario */
    margin: 20px auto; /* Centrar la tabla con espacio superior e inferior */
    border-collapse: collapse; /* Colapsar los bordes de la tabla */
}

.estadisticas-table th, .estadisticas-table td {
    border: 1px solid #ddd; /* Borde de las celdas */
    padding: 8px; /* Espaciado interno */
    text-align: center; /* Alineación del texto al centro */
}

.estadisticas-table thead {
    background-color: #333; /* Color de fondo del encabezado */
    color: white;
}